html{
    font-family: Verdana;
    font-size: 1.5em;
}

h3{
    color: blue;
    text-align: center;
}

.alert{
    color: #72353D;  
    background-color: #EAD2D5;
}

#main{
    background-color: whitesmoke;
    align-items: center;
    margin: 30px;
    padding: 30px;
}

#divStyle{
    height: 200px;
    width: 50%;
    background-color: blue;
    padding: 20px;
    width:40%;
    border: 1px black;
    border-radius: 50px;
    animation-name: ChangeColor;
    animation-duration: 5s;
}

@keyframes ChangeColor {
    from {background-color: red;}
    to {background-color: blue;}
}